<html>
  <head>
    <link rel="stylesheet" src="stylesheet.css" />
  </head>
  <body>
    <div class="gem-details">
      <div class="headers">
        <h1><%= gemspec.name %></h1>
        <h2><%= gemspec.summary %></h2>
        <h2>(current version: <%= gemspec.version %>)</h2>
      </div>
      <p><%= gemspec.description.gsub(/\n\s*\n/, "</p><p>") %></p>
    </div>
    <div class="documentation-list">
      <p>Documentation is in a few sections:</p>
      <ul>
        <% documenters.each_pair do |path, doccer| %>
          <li><a href="<%= doccer.entry_link %>"><%= doccer.title%></a></li>
        <% end %>
      </ul>
    </div>
    <div class="credits">
      <h2>Authors</h2>
      <dl>
        <% gemspec.authors.zip(gemspec.email).each do |author, email| %>
          <dt><%= author %></dt>
          <dd><%= email %></dd>
        <% end %>
      </dl>
    </div>
  </body>
</html>
